RECORD_MANAGER_LICENSE = HTMPHZJRJXRK

PHYSICAL_RECORDS_MANAGER_LICENSE = HPXFUFWZGHFB

FEDERATED_RECORDS_SERVICES_LICENSE = EGKEETETCTQM

RPS_LICENSE = DFJDDSDSBSPL

CONTENT_SERVER_SNAPLOCK_LICENSE = LDNAPJEWPXQ

XML_STORE_LICENSE = MIFSVAFARIP

CA_STORE_LICENSE = LDSOPEJPWDQ

CONTENT_STORAGE_SERVICES_LICENSE =  DTBIUEOFON

TRUSTED_LICENSE = MZJVOPSLND

HIGH_VOLUME_SERVER_LICENSE = ASMNHLJKUVPQ
