INSTALLER_UI=silent
 
# if the GR is not a local GR, below three items must be specified
PROCESS_ENGINE.GLOBAL_REGISTRY_ADMIN_USER_NAME=Administrator
PROCESS_ENGINE.GLOBAL_REGISTRY_ADMIN_DOMAIN=
PROCESS_ENGINE.SECURE.GLOBAL_REGISTRY_ADMIN_PASSWORD=Password@123


APPSERVER.SERVER_HTTP_PORT=9080
APPSERVER.SECURE.PASSWORD=Password@123

PE.INSTALL_TARGET= C:\\Documentum
PE.FQDN=D2UNITYCS
PE.DOCBASES_ADMIN_USER_NAME=Administrator
PE.DOCBASES_ADMIN_USER_PASSWORD=Password@123 


